*{
    margin: 0%;
    border: 0%;
    box-sizing: border-boxS;
}
body{
    font-family: "Montserrat",sans-serif;
}
header{
    background-color: rgb(14, 195, 235);
    text-align: center;
    color: white;
    
}
header h1,h2{
    text-shadow: 1px 1px 2px rgb(39, 39, 39);
}
table{
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 12px 14px -10px hsla(212, 86%, 64%, 0.301);
}
.nav-left{
    display: flex;
    background-color: #D9D9D9;
    word-spacing: 20px;
    padding: 10px;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.nav-left button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: white;
}

.index-content{
    padding: 10px;
    letter-spacing: 0.7px;
}

/* Pseudoclases */
.nav-left a:nth-child(1) button:hover{
    background-color: red;
}
.nav-left a:nth-child(3) button:hover{
    background-color: blue;
}
.nav-left a:nth-child(4) button:hover{
    background-color: greenyellow;
}
/* Pseudoelementos */
